CLIP_ADDR=http://localhost:8001
QDRANT_ADDR=localhost:6334
CLIP_DIM=512
HTTP_ADDR=:8080
CONCURRENCY=4
ASSET_DIR=./data/assets
WORKER_MODE=indexer
JOB_BACKEND=memory
JOB_STORE_DSN=postgres://iris:iris@localhost:5432/iris?sslmode=disable
JOB_POLL_INTERVAL=1s
LEASE_DURATION=30s
